<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lägg till Användare</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div th:replace="fragments/header :: header(isIndexPage=true)"></div>

<h2>Lägg till användare</h2>

<div class="user-form">
    <form th:action="@{/users/create}" th:object="${user}" method="post">
        <div class="form-container">

            <label for="username"><strong>Namn:</strong></label>
            <input type="text" id="username" name="username" th:field="*{username}" required/>

            <div class="validation-error">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>

            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
    <div class="back-to-users">
        <a class="btn btn-primary" th:href="@{/users}">Alla användare</a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
