<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välkommen</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Välkommen!</h1>
    <p>Detta är en enkel webbsida som är en del av mitt DevOps-projekt.</p>
    <a href="#more-info" class="button">Läs mer</a>
</div>

<div id="more-info" class="info-section">
    <h2>Mer information</h2>
    <p>Mer info. Mer info. Mer info!!!!!!!!!!.</p>
</div>
</body>
</html>
